@charset "utf-8";

// Define defaults for each variable.

$regular-font-family: "Raleway", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/* font size */
$font-size-1: 16px !default;
$regular-font-weight: 400 !default;
$bold-font-weight: 700 !default;
$base-line-height: 1.5 !default;

/* mixins for titles */

@mixin title-type {
	font-size: $font-size-1 *2;
	font-weight: $bold-font-weight;
	color: $color-1;
}

@mixin title-type-2 {
	font-size: $font-size-1 *1.2;
	font-weight: $bold-font-weight;
	color: $color-1;
	margin-bottom: $paragraph-2;
	margin-top: $paragraph-1;
}

@mixin title-type-3 {
	font-size: $font-size-1;
	font-weight: $regular-font-weight;
	color: $color-2;
	margin-top: $paragraph-1;
}

/* paragraph spaces */

$paragraph-1: 24px;
$paragraph-2: 8px;

$spacing-unit:     30px !default;

$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

/* colors */
$color-1: #845EC2;
$color-2: #C493FF;
$color-3: #4f4f4f;
$color-4: #FBFBFB;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-mobile:          320px !default;
$on-tablet:          800px !default;
$on-desktop:        1440px !default;


@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@mixin relative-font-size($ratio) {
	font-size: $font-size-1 * $ratio;
}

// Import partials.
@import
"styles/base",
"styles/layout",
"styles/syntax-highlighting"
;
